body {
    /*background-color: #E8EAF6;*/
    font-family: Roboto, Noto, Helvetica, Arial, sans-serif;

    /*font-size: 24px;*/
}

/*清除默认样式*/
h1,h2,h3,h4,h5,p {
    margin: 0;
}

#app {
}

/*markdonw解析后显示的地方*/
#content {
    padding: 50px;
    background-color: ghostwhite;
}

/*当屏幕段都大于1024执行的css*/
@media only screen and (min-width: 1024px) {
    /*markdown区域*/
    #content {
        /*background-color: #fa6125;*/
        /*border: 1px solid red;*/
        border-radius: 0.5em;

        /*居中技巧*/
        max-width: 1000px;
        width: 60%;
        margin: auto;
    }
}
/*适配手机*/
/*@media only screen and (max-width: 760px) and (orientation: landscape)  {*/
/*    body {*/
/*        background-color: red;*/
/*    }*/
/*}*/




/*缩进框下的ol*/
 .block-frame ol {
    overflow: auto;
    padding: 1em;
    margin: 0;
}



/*缩进框*/
.block-frame {
    padding: 0.1em;
    margin: 0.2em;
    border-radius: 0.5em;
    background: lightgray;
}


.block-frame:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.block-frame li {
    font-family: monospace;
}
.block-frame ol {
    list-style-type: none;
}

/*.block-frame li :hover {*/
/*    background-color: papayawhip;*/
/*}*/

.header {
    font-weight: bold;
}

.quote-frame {
    /*background-color: #E8EAF6;*/
    border-radius: 0.5em;
}

/*引用框下的ol*/
.quote-frame ol{
    list-style-type: none;
    /*padding: 1em;*/
    overflow: auto;
}
/*引用框内的每一行*/
.quote-line {
    display: flex;
}

/*引用框前面填充物的样式*/
.quote-line-filler {
    /*background: darkgray;*/
    /*background-color : rgba(0,0,0,0.1);*/
    border-right: 0.3em solid rgba(0,0,0,0.1);
    padding-left: 1em;
    margin-right: 1em;;
}


.plain-list {
    list-style: none;
}
.plain-list-indicator {
}

.header, .plain-list, .quote-line-filler, .plain-text{
    font-family: "微软雅黑", serif;
    /*padding: 1.1em 1.1em 1.1em 0;*/
    /*padding: 0.8em 0.8em 0.8em 0;*/
    /*padding: 0.5em 0.5em 0.5em 0;*/
    padding: 0.2em 0.2em 0.2em 0;
}

/*h1 {*/
/*    font-size: 2.7em;*/
/*}*/
/*h2 {*/
/*    font-size: 2.2em;*/
/*}*/
/*h3 {*/
/*    font-size: 1.9em;*/
/*}*/
/*h4 {*/
/*    font-size: 1.5em;*/
/*}*/
/*h5 {*/
/*    font-size: 1.2em;*/
/*}*/
/*p , .plain-list, .plain-text{*/
/*    font-size: 1em;*/
/*}*/
